.header {
	background-color: $backgroundColor;
	height: 100px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.471);
	nav {
		height: 100%;
		padding: 1.0625rem 1.5rem;
	}
	// Hamburger open styles
   &.open {
		.overlay {
         display: block;
			// animation: fade-in 0.5s ease-in forwards;
		}
		.header__hamburger {
			> span:first-child {
				transform: rotate(42.5deg);
				width: 24px;
				height: 3.5px;
			}
			> span:nth-child(2) {
				opacity: 0;
			}
			> span:last-child {
				transform: rotate(-42.5deg);
				width: 24px;
				height: 3.5px;
			}
		}
	}
	
	.overlay {
		// display: none;
      // opacity: 0;
		// z-index: -1;
		position: fixed;
		top: 6.1875rem;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient($backgroundColor, rgba(0, 0, 0, 0.2));
		// height: 100vh;
	}

	&__logo {
		img {
			width: 45px;
		}
	}
	&__burgerMenu {
		width: 50px;
		height: 50px;
	}
	&__hamburger {
		> span {
			display: block;
			width: 22px;
			height: 3px;
			background: $textColor;
			transform-origin: left;
			transition: all 0.3s ease-in-out;
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}

	div {
		.header__links {
			padding: 0 10px;
			color: $textColor;
			font-size: $font-med;
			transition: all 0.2s ease-in;

			&:hover {
				color: $textHover;

				&::before {
					opacity: 1;
				}
			}
		}

		a {
			font-size: $font-med;
			position: relative;
			font-family: "Bungee", cursive;

			&:not(:last-child) {
				margin-right: 32px;
			}
		}
	}
}

.mobile-container {
	max-width: 1200px;
	margin: auto;
}

.hide-for-mobile a::before {
	content: "";
	position: absolute;
	width: 100%;
	display: block;
	height: 4px;
	left: 0;
	right: 0;
	bottom: -1.7rem;
	border-radius: 10px;
	background: linear-gradient(20deg, $unknown, $button);
	opacity: 0;
	transition: all 0.2s ease-out;
}
