section {
	height: 90vh;
	.lp__heading {
		height: 25%;
		text-align: center;
		h1 {
			font-family: "Permanent Marker", cursive;
			margin: 0;
			padding: 25px;
			font-size: 3.5rem;
			// transform: rotate(10deg);
		}
		h2 {
			margin: 0;
			padding: 25px;
			font-family: "Staatliches", cursive;
			font-size: 2.5rem;
		}
	}
	.lp__choices {
      background: url(/imges/lpBackground.jpg) no-repeat center;
      // padding-top: 150px;
		height: 75%;
      background-size: cover;
	}
   .blur{
      height: 100%;
      padding-top: 150px ;
      backdrop-filter: blur(2px);
      // mix-blend-mode:multiply;

     }
	.inner__choices {
		max-width: 1400px;
		height: 100%;
		margin: auto;
      opacity: .88                  ;
		// padding: 100px 0;
	}
   
	.choice {
      display: block;
		width: 25%;
      margin: 0 10px 0 10px;
		text-align: center;
		color: $textColor;
		border-top: 2px solid white;
		border-left: 2px solid white;
		border-right: 2px solid white;
      border-radius: 20px 20px 0 0;
		background: $backgroundColor url(/imges/burger.png) no-repeat center bottom;
		background-size: 75%;
		transition: 0.3s all ease-in;
      mix-blend-mode: multiply;
		p {
         font-family: "Bungee", cursive;
			font-size: 2.4rem;
			transform: rotate(-10deg);
			padding-top: 30px;
         transition: 0.3s all ease-in;
         // opacity: .2;
         
		}
	}
	.choice:hover {
		background-color: $textHover;
      p{
         font-size: 2.6rem;
      }
	}
	.choice__a {
		background-image: url(/imges/burger.png);
	}
	.choice__b {
		background-image: url(/imges/pizza.png);
	}
	.choice__c {
		background-image: url(/imges/sushi.png);
	}
	.choice__d {
		background-image: url(/imges/burrito.png);
	}
}
